@font-face {
    font-family: "HarmonyOS_Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/HarmonyOS_Sans_SC_Medium.ttf");
}

* {
    font-family: HarmonyOS_Medium, serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(267deg, #89b9ff, #75ccff, #57dfff, #05f2ff)
}

form {
    text-align: center;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.z-index99 {
    z-index: 99;
}

.login {
    position: relative;
    display: flex;
    width: 400px;
    height: 450px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login::before {
    width: 430px;
    height: 480px;
    content: '';
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0 6px 15px 0;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
}

h2 {
    margin-top: -100px;
    color: #FFFFFF;
}

input {
    /*width: 230px;*/
    height: 38px;
    text-align: center;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
}

input:focus {
    outline: none
}

input::placeholder {
    text-align: center;
    font-weight: 400;
    color: #75ccff;
}

.button-box {
    display: flex;
    justify-content: space-around;
    width: 230px;
    height: 35px;
    margin-top: 15px;
}

.button {
    position: relative;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    overflow: hidden;
    transition: 0.5s;
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(3, 138, 255);
}

.button:hover {
    background-color: #99CCFF;
    color: #0396FF;
    background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}

.button:first-child {
    margin-right: 20px;
}

.circle-orange {
    z-index: -1;
    position: absolute;
    top: -200px;
    left: -180px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: circle-animation 3s infinite;
    background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
}

.circle-blue {
    position: absolute;
    bottom: -100px;
    right: -150px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle-animation 3s infinite;
    background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}

@keyframes circle-animation {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }

}